.progress-bar-container {
  padding:0 3rem;
  display: flex;
  align-items: center;
 
}

.song-progress {
  font-size: 14px;
  color: #ffffff;
  width:10%;
  


}

.progress-box {
  height: 5px;
  width: 100%;


  

}

.progress-bar{
  height: 100%;
  width: 100%;

}

.song-end {
  font-size: 14px;
  color: #ffffff;
  width:10%;
  margin:0 0 0 2rem;
}
